body {
    color: black;
}
.noscroll {
  overflow: hidden;
}
.gallery {
  display: flex;
  flex-wrap: wrap;

  &__image {
    max-width: 200px;
    height: 150px;

    @media (max-width: 678px){
      width: 100%;
    }
  }
  &__link {
    margin: 0 2px;

    @media (max-width: 678px){
      margin: 0 10px;
      width: calc(50% - 20px);
    }
  }
}
.lightbox {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: hidden;
  opacity: 0;
  display: none;

  &.open {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  &__close-btn {
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 55px;
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 2;

    @media (max-width: 678px){
      top: 20px;
      right: 20px;
    }

    &:hover {
      opacity: 1;
    }

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 16px;
      width: 33px;
      height: 2px;
      background: #FFF;
    }
    &:after{
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }
  &__nav {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    button {
      background: none;
      box-shadow: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:after {
        content: '';
        box-shadow: -2px 2px 0 rgba(255,255,255,1);
        width: 20px;
        height: 20px;
        display: block;
      }
      &.disabled {
        opacity: 0;
        cursor: default;
      }
    }
  }
  &__prev-btn {
    left: 50px;

    @media (max-width: 678px){
      left: 10px;
    }

    &:after {
      transform: rotate(45deg);
    }
  }
  &__next-btn {
    right: 50px;

    @media (max-width: 678px){
      right: 10px;
    }

    &:after {
      transform: rotate(-135deg);
    }
  }
  &__image {
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
  }
  &__loader {
    border: 5px solid #555;
    border-top: 5px solid #CCC;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: loading 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  &__container {
    height: calc(100vh - 100px);
    text-align: center;
    margin: 50px 0;
  }
  &__caption {
    position: absolute;
    background: rgba(255,255,255,.5);
    max-width: 500px;
    padding: 10px 0;
    text-align: center;
    border-radius: 15px;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;

    @media (max-width: 678px){
      max-width: 100%;
      top: 70vh;
      left: 10px;
      right: 10px;
      transform: translate(0);
    }
  }
  &__counter {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 25px;
  }
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
